@import '../../global.scss';

.works {
  background-color: $secondaryColor;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .arrow {
    height: 60px;
    position: absolute;
    cursor: pointer;

    @include mobile {
      display: none;
    }

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }

    &.right {
      right: 100px;
    }


  }

  .slider {
    height: 400px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1s ease-out;

    @include mobile {
      height: calc(100vh - 70px);
      flex-direction: column;
      justify-content: center;
    }

    .container {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 800px;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        @include mobile {
          width: 95%;
          height: 95%;

        }

        .left {
          flex: 4;
          height: 90%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;

          .leftContainer {
            width: 90%;
            height: 65%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .imgContainer{
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: rgb(100, 210, 140);

          
              img {
                width: 25px;


              }
            }
            h2 {
              font-size: 20px;

            
            }
            p{
              font-style: 13px;
            }

            span {
              font-style: 12px;
              font-weight: 600;
              cursor: pointer;
              text-decoration: underline;
            }
          }

          @include mobile {
            display: none;
  
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          background-color: #F5F5F5;

          img {
            width: 525px;

            @include mobile {
              width: 320px;
      
    
            }
            
          }

        }
      }
    }
  }
}